@font-face {
    font-family: Ephesis-Regular;
    src: url(../font/Ephesis-Regular.ttf);
} 

@font-face {
    font-family: Lobster-Regular;
    src: url(../font/Lobster-Regular.ttf);
}

* {
    font-family: Lobster-Regular;
    font-size: 1.3vw;
}

body {
    background-image: url("../images/grapes-553462.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    margin: 0;
}

.phoneNumber {
    background: black;
    margin: 0vw;
}

.phoneNumber p {
    margin: 0;
    color: white;
}

header {
    background: linear-gradient(black,#4b204b, #59719D);
    text-align: center;
    position: fixed;
    width: 100vw;
    height: 6vw;
    box-sizing: border-box;
}

.cabeçalho label {
    color: #f8f8f8;
}

.cabeçalholeft,.cabeçalhoright {
    margin-top: 1vw;
}

.cabeçalholeft {
    width: 38vw;
    text-align: left;
    min-width: 40vw;
    float: left;
    margin-left: 2vw;
}

.cabeçalhoright {
    width: 38vw;
    text-align: right;
    min-width: 40vw;
    float: right;
    margin-right: 2vw;
}

.ajuste-cabeçalho fieldset {
    border-radius: 10px;
    margin: 10px 0;
    border-color: #f8f8f8;
}

.alinhamento {
    padding: 6vw 0vw 6vw;
    width: 100%;
    height: 10%;
    margin-left: 0%;
    margin-bottom: 5vw;
}

header {
    margin-top: 0%;
}

.row {
    margin: 2vw;
}

.row label {
    width: 100px;
    text-align: right;
    display: inline-block;
}

.row input {
    margin-left: 1vw;
}

ul {
    text-align: right;
}

.principal-inicial {
    padding: 2vw;
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: white;
    width: 60%;
    margin: 0vw 0vw 25vw 20vw;
    border-radius: 1vw;
    border-color: black;
    border-style: outset;
    border-width: 0.2vw;
}

.loginBtn {
    margin: 1vw;
}

.loginInp {
    margin: 1vw;
}

.form {
    margin: 0vw 0vw 0vw 0vw;
}

.ifran {
    background: rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 2vw;
}

.ifran iframe {
    width: 40vw;
    height: 30vw;
    border-radius: 0.4vw;
}

footer {
    position: inherit;
    margin-top: 100vw;
    text-align: center;
    border-color: black;
    border-top: ridge;
}

aside {
    margin-left: 0vw;
    border-style: dotted;
    width: 30vw;
}